body {
    font-family: sans-serif;
}
nav {
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    overflow-y: auto;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}
nav a:hover {
    background-color: #555;
    color: white;
}
.logo {
    padding: 20px;
    text-align: center;
    color: white;
}
.logo img {
    height: 150px;
    padding: 0px;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: static;
    background-color: black;
    width: calc(100% - 20px);
    box-shadow: none;
    padding: 10px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.services {
    background-color: gray;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 250px;
    color: white;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
.image-item {
    position: relative;
}
.image-item img {
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
}
footer {
    background-color: gray;
    padding: 20px;
    margin-left: 250px;
    color: white;
}
footer a {
    text-decoration: none;
    margin: 0 10px;
}
footer img {
    vertical-align: middle;
    width: 25px;
    height: 25px;
}